When $a \ne 0$, there are two solutions to $(ax^2 + bx + c = 0)$ and they are 
$$ x = {-b \pm \sqrt{b^2-4ac} \over 2a} $$

In [6]:
import yfinance as yf

apple= yf.Ticker("aapl")

# show actions (dividends, splits)
apple.actions

# show dividends
apple.dividends

# show splits
apple.splits

# + other methods etc.

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [7]:
import yfinance as yf

aapl= yf.Ticker("aapl")
aapl

yfinance.Ticker object <AAPL>

In [19]:
aapl_historical = aapl.history(start="2022-09-02", end="2022-09-07", interval="1m")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-09-02 09:30:00-04:00,159.750000,160.009995,159.149994,159.380005,3250524,0,0
2022-09-02 09:31:00-04:00,159.372498,159.429993,159.250000,159.380005,409714,0,0
2022-09-02 09:32:00-04:00,159.360001,159.595001,159.259995,159.410004,355297,0,0
2022-09-02 09:33:00-04:00,159.410004,159.539993,159.330002,159.369995,339951,0,0
2022-09-02 09:34:00-04:00,159.360001,159.800003,159.199997,159.210007,334541,0,0
...,...,...,...,...,...,...,...
2022-09-06 15:55:00-04:00,154.330002,154.339996,154.149994,154.184998,401377,0,0
2022-09-06 15:56:00-04:00,154.184998,154.184998,154.009995,154.119995,419248,0,0
2022-09-06 15:57:00-04:00,154.115005,154.279999,154.039993,154.250000,510933,0,0
2022-09-06 15:58:00-04:00,154.257507,154.460007,154.244995,154.407700,647281,0,0
2022-09-06 15:59:00-04:00,154.404999,154.649994,154.330002,154.529999,1719243,0,0

In [20]:
aapl.info['dividendRate']

0.92

In [21]:
aapl.dividends

Series([], Name: Dividends, dtype: int64)

In [23]:
aapl.info["marketCap"]

2220984631296

In [24]:
aapl_historical = aapl.history(period="max", interval="1wk")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-08,0.100039,0.100474,0.100039,0.100039,469033600.0,0.0,0.0
1980-12-15,0.095255,0.098735,0.087861,0.098300,490134400.0,0.0,0.0
1980-12-22,0.103084,0.123962,0.103084,0.123527,187891200.0,0.0,0.0
1980-12-29,0.125267,0.125702,0.118743,0.120048,219452800.0,0.0,0.0
1981-01-05,0.117873,0.117873,0.105259,0.110913,197904000.0,0.0,0.0
...,...,...,...,...,...,...,...
2022-09-05,156.470001,157.820007,152.679993,157.369995,314117000.0,0.0,0.0
2022-09-12,159.589996,164.259995,148.369995,150.699997,568216100.0,0.0,0.0
2022-09-19,149.309998,158.740005,148.559998,150.429993,473452500.0,0.0,0.0
2022-09-26,149.660004,154.720001,138.000000,138.199997,577317100.0,0.0,0.0
2022-09-30,141.279999,143.100006,138.000000,138.199997,124925274.0,0.0,0.0

In [25]:
aapl.options

('2022-10-07',
 '2022-10-14',
 '2022-10-21',
 '2022-10-28',
 '2022-11-04',
 '2022-11-18',
 '2022-12-16',
 '2023-01-20',
 '2023-02-17',
 '2023-03-17',
 '2023-04-21',
 '2023-06-16',
 '2023-07-21',
 '2023-09-15',
 '2024-01-19',
 '2024-06-21',
 '2025-01-17')